@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,400&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    font-style: "regular";
    font-weight: 400;
}
.text-rapi {
    font-family: 'Faster One', cursive !important;   
    font-style: "regular";
    font-weight: 400;
}

.fondo-nav {
    background-color: #DFDFDF;

}

.text-boton {
    font-family: 'Roboto', sans-serif;
    font-style: "regular";
    font-weight: 400;
}

/*ANIMACION HOVER DEL NAV*/
/* *aclaracion al usar position 'absolute' en los .nav-item se tuvo que agregar .position-relative de bootstrap*/
.hover-beauty::before{
    content: "";
    height: 3px;
    width: 0%;
    background:rgb(12, 97, 194);
    position:absolute;
    left: 0;
    bottom: -1px;
    transition: 0.4s ease-out;
}
.hover-beauty:hover:before{        
    width: 100%;
}
/*FIN DE ANIMACION*/

/* flechitas del carousel en negro */
