@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,400&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    font-style: "regular";
    font-weight: 400;
}
.text-rapi {
    font-family: 'Faster One', cursive !important;   
    font-style: "regular";
    font-weight: 400;
}

.fondo-nav {
    background-color: #DFDFDF;

}

.text-boton {
    font-family: 'Roboto', sans-serif;
    font-style: "regular";
    font-weight: 400;
}